* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252a;
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0a1;
    text-decoration: none;

}

header {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #008952;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);

}

.jumbotron {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    color: #fff;
}



