* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #f9f8f7;
}

li,
a,
button {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: rgba(128, 128, 128, 0.61);
	text-decoration: none;
}

header {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
}

.main-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.announcement-bar {
	display: flex;
	letter-spacing: 2px;
	justify-content: center;
	padding: 10px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	background-color: #ffe454;
}

.announcement-bar:hover {
	background-color: #d3be45;
}

.main-header img {
	max-width: 15%;
	margin: 10px 15px;
	height: 50px;
}
.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: rgba(0, 0, 0, 0.767);
}

/* Slideshow Image */
/* Slideshow container */
.slideshow-container {
	max-width: 1920px;
	position: relative;
	margin: auto;
}

.control-dot {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #717171;
	justify-content: center;
	align-items: center;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
